

html {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  height: 100%;
  color: #aaa;
}

div {
  border-radius: 0 !important;
}

#container {
  display: flex;
  flex-direction: column;
  max-width: 100% !important;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: white;
  transition: height 0.5s;
}

/*PAGE STRUCTURE*/

#bar {
  width: 100%;
  position: absolute;
  height: 60px;
  margin: 0;
  box-shadow: none;
  z-index: 1000;
  border: none;
  top: 0;
}

#content {
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
  top: 60px;
  border-top: 1px solid #e8e8e8;
}

/*HEADER BAR FORMATTING*/

/*title & subtitle*/

#bar .header, .subtitle {
  float: left;
  height: 100%;
  line-height: 60px;
  padding: 0 20px;
}

#bar .header {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #64B5F6;
}

#bar .subtitle {
  color: #aaa;
  width: 66.5%;
}

/*navbar*/

#login, #logout, .item.compare, .item.design, .item.quartz-db {
  cursor: pointer;
  line-height: 60px;
  padding: 0 20px;
  height: 100%;
  /*color: #64B5F6;*/
  float: right;
  transition: background 0.2s ease-in-out;

}

#login:hover, #logout:hover, .item.compare.button:hover, .item.design.button:hover, .item.quartz-db.button:hover, {
  color: #fff;
  background: #64B5F6;
}

#bar .item .button.active {
  background: #e8e8e8;
}
#content .tab {
  display: none;
  height: 100%;
  width: 100%;
}
#content .tab.active {
  display: block;
}

/*CONTENT*/

/*structure*/
.left-panel, .right-panel {
  float: left;
  height: 100%;
}

.left-panel {
  width: 33%;
  min-width: 350px;
  border-right: 1px solid #e8e8e8;
}

.right-panel {
  width: 67%;
}

.left-panel.last {
  width:34%;
}

/*left panel dropdown*/

.select {
  position: relative;
  display: block;
  height: 60px;
  width: 100%;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  background: #64B5F6 !important;
  color: #ffffff !important;
  font-weight: 500 !important;
}

.left-panel .select {
  width: 50%;
  float: left;
}

.left-panel .select.full {
  width: 100%;
  float: left;
}

.left-panel input {
  height: 60px;
}

.left-panel .ui.fluid.search.selection.dropdown {
  height: 60px;
  line-height: 35px;
  border: none;
  border-bottom: 1px solid #e8e8e8;
}

.ui.fluid.search.selection.dropdown .default.text {
  color: #999 !important;
}

.left-panel .ui.fluid.search.selection.dropdown i.dropdown.icon {
  padding-top: 22px;
}

.left-panel .ui.fluid.search.selection.dropdown.projects {
  border-right: 1px solid #e8e8e8;
}

/*left panel geometry view*/

#geometry {
  height: 40%;
  position: relative;
  box-sizing: border-box;
  float: left;
  width: 100%;
}

#display {
  position: relative;
  display: flex;
  height: 40%;
  box-sizing: border-box;
  padding: 1em 2em 1em 1em;
  overflow: auto;
}

#view {
  position: relative;
  flex-grow: 1;
  height: 100%;
  z-index: 0;
  width: 100%;
  box-sizing: border-box;
  top: 0;
}

#chart-container {
  position: relative;
  border-top: 1px solid #e8e8e8;
  height: 60%;
  width: 100%;
  float:left;
}

#columnChart{
  margin-left: 12px;
}

.bar {
  fill: steelblue; 
}

.axis path {
  display: none;
}

/*right panel*/

.chart.title {
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: #64B5F6;
  padding: 20px 20px 12px;
}

.table {
  margin: 0 20px;
}

.table th {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}

.table .select, .table .ui.fluid.search.selection.dropdown {
  height: 42px;
  border: 0 !important;
  box-shadow: none !important;
  margin: -11px -5.5px;
}

.table input {
  height: 42px;
  margin: 0 -2.5px;
}

.table .default.text, .table .text {
  padding-top: 3px;
  margin-left: -4px;
}

.table .ui.fluid.search.selection.dropdown i.dropdown.icon {
  padding-top: 15px;
}

.table button {
  padding: 8px !important;
}

button.ui.view {
  margin-left:20px;
  float: left;
  border-radius: 0 !important;
}

#view-chart {
  width:20%;
  float: left;
}

.ui.transparent.input input {
  margin: -11px 0;
  max-width: 100px !important;
}

#create {
  margin: 0 20px;
}

#create .ui.input {
  width: 33%;
  float: left;
}

#create input {
  border-radius: 0 !important;
}

#create button {
  border-radius: 0 !important;
  float: left;
  padding-top: 12px;
  padding-bottom: 12px;
}

/*QUARTZ TABLE*/

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

td, th {
    padding: 1px 4px;
}

/* range slider */

/*input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7px 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #0fbfd6;
  border-radius: 7px;
  border: 0px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.1px 0.1px 3px rgba(0, 0, 49, 0.49), 0px 0px 0.1px rgba(0, 0, 75, 0.49);
  border: 0px solid #00001e;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #0fbfd6;
  border-radius: 7px;
  border: 0px solid #010101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0.1px 0.1px 3px rgba(0, 0, 49, 0.49), 0px 0px 0.1px rgba(0, 0, 75, 0.49);
  border: 0px solid #00001e;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #0daabe;
  border: 0px solid #010101;
  border-radius: 14px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
  background: #0fbfd6;
  border: 0px solid #010101;
  border-radius: 14px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-thumb {
  box-shadow: 0.1px 0.1px 3px rgba(0, 0, 49, 0.49), 0px 0px 0.1px rgba(0, 0, 75, 0.49);
  border: 0px solid #00001e;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
  height: 6px;
}

input[type=range]:focus::-ms-fill-lower {
  background: #0fbfd6;
}

*/
